*{  
  margin: 0;
  padding: 0;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  background: skyblue;
  width: 100%;
  height: 90px;
}
.menu{
  display: flex;
}
div .enlaces{
  display: flex;
}
a{
  text-decoration: none;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  background-color: white;
  margin-right: -4px;
  border-style: solid;
  color: black;
}
#peliculas{
  background-color: gray;
  color: white;
}
section{
  position: relative;
}
.img1{
  position: relative;
  height: 400px;
  width: 100%;
}
.textoImg1{
  position: absolute;
  left: 20%;
  top: 200px;
  font-size: 60px;
  color: #B5F700;
  font-weight: bold;
}
p.titulo1{
  display: flex;
  justify-content: center;
  padding-top: 40px;
  font-size: 50px;
  font-weight: bold;
}
article{
  display: flex;
  flex-direction: column;
}
#col-1{
  display: flex;
  align-items: flex-start;
  text-align: left;
  font-size: 30px;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 3%;
}
.col-1{
  width: 25%;
  height: 25%;
  margin-right: 25px;
}
#col-2{
  display: flex;
  align-items: flex-start;
  text-align: left;
  font-size: 30px;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 3%;
}
.col-2{
  margin-left: 20px;
}
p.tituloVideo{
  position: absolute;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  height: 10px;
}
.contenedor-video{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 80px;
  background: #74A8E2;
}
iframe{
  margin-top: 60px;
}
form{
  width: 400px;
  height: 380px;
  margin: auto;
  padding: 15px 5px;
  box-sizing: border-box;
  margin-top: 30px;

}
p.titulo2{
  color: black;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 30px;
}
input, textarea{
  width: 100%;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 17px;
  border: solid;
}
textarea{
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}
#boton{
  position: relative;
  border-radius: 15px;
  width: 110px;
  left: 280px;
}
#boton:hover{
  cursor: pointer;
}
footer{
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: bold;
  font-size: 20px;
  background: gray;
  height: 40px;
}

@media (min-width: 0px) and
(max-width: 320px) {
  nav .section1 .contenedor-video form footer{
    width: 100%;
  }
  article{
    display:none;
  }
}
@media (min-width: 321px) and
(max-width: 480px){
  nav .section1 .contenedor-video form footer{
    width: 100%;
  }
  article{
    display:none;
  }
}
@media (min-width: 481px) and
(max-width: 768px){
  nav .section1 .contenedor-video form footer{
    width: 100%;
  }
  article{
    display:none;
  }
}
@media (min-width: 769px) and
(max-width: 1200px) {
  nav .section1 .contenedor-video form footer{
    width: 100%;
  }
  article{
    display:none;
  }
}
@media (min-width: 1300px) {
  nav .section1 .contenedor-video form footer{
    width: 100%;
  }
}
