*{
  margin: 0;
  padding: 0;
}
header{
  display: flex;
  background: skyblue;
  width: 100%;
}
.menu{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
}
section{
  position: relative;
}
.img1{
  position: relative;
  height: 400px;
  width: 100%;
}
.textoImg1{
  position: absolute;
  left: 20%;
  top: 200px;
  font-size: 60px;
  color: #B5F700;
  font-weight: bold;
}
article{
  display: flex;
  flex-direction: column;
}
#col-1{
  display: flex;
  align-items: flex-start;
  text-align: left;
  font-size: 30px;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 3%;
}
.col-1{
  width: 25%;
  height: 25%;
  margin-right: 25px;
}
#col-2{
  display: flex;
  align-items: flex-start;
  text-align: left;
  font-size: 30px;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 3%;
}
.col-2{
  margin-left: 20px;
}
.contenedor-video{
  display: flex;
  justify-content: center;
  margin: 50px;
  padding: 30px;
  background: #74A8E2;
}
